@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
p {
  font-family: "Inter", sans-serif;
}
h1 {
  font-family: "Josefin Sans", sans-serif;
}
h2 {
  font-family: "Montserrat", sans-serif;
}
.underline-norm {
  background-image: url("../src/assets/Line 22.png");
  background-repeat: no-repeat;
  background-position: 0 45px;
  overflow: visible;
  padding-bottom: 15px;
  background-size: contain;
}
button {
  cursor: pointer;
}
.showNav {
  right: 2;
  transition: all ease-in-out;
  transition-duration: 800ms;
}
